<div class="well update-timings-container">
    <div class="form-group">
        <h4>Update Daily Prayer Times</h4>
    </div>
    <div class="form-group">
        <label class="control-label">Salah</label> 
        <input class="form-control" ng-model="contact.salah" /> 
    </div>
    <div class="form-group">
        <label class="control-label">Iqama</label> 
        <input type="text" class="form-control time-picker" size="8" ng-model="contact.iqama" name="time" bs-timepicker>
    </div>
    <div class="form-group">
        <pre class="alert alert-info">{{ contact.salah ? contact.salah  + ' salah is at:' : '' }} {{ contact.iqama ? contact.iqama : '' | date:'h:mm a' }}</pre>
    </div>
    <div class="form-group"> 
        <pre>Last Updated On: {{ contact.lastUpdated ? contact.lastUpdated : 'N/A' | date:"MM/dd/yyyy 'at' h:mm a" }}</pre>
    </div>
    <button class="btn btn-info" ng-click="updateRecords()">Update</button>
    <button class="btn btn-default" ui-sref="edit">Cancel</button>
</div>
